<link rel="stylesheet" href="./css/codeHome.css">
<nav class="shelf">
    <a class="book home-page">Home page</a>
    <a class="book about-us">About us</a>
    <a class="book contact" id ="logoutbtn">LOGOUT</a>
    <a class="book faq" id="chatbtn">CHAT</a>
    
    <span class="book not-found"></span>
   
    <span class="door left"></span>
    <span class="door right"></span>
  </nav>
  <h1 >Hi,<%= user.codeForcesID%></h1>
  <p>"Welcome to our coding sanctuary, where innovation meets ambition. Join us on a journey of limitless possibilities in the world of code."</p>
<script src="./js/codeHome.js"></script>